

@media screen and (min-width: 1114px){
    .navbar {
        width: 98.5% !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 98.5% !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 1010px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 1040px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 80px;
        width: 85%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 50px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 135%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 100%;
        text-align: justify;
        color: #000000;
        margin-top: -10px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -380px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 98.5% !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 107.8% !important;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        margin-top: -40px;
        transform: translateX(-80px);
    }
    .subtitle-card{
        text-align: justify;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 107.8% !important;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 650px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -5px;
        
    }
    .subtitle-card-2{
        text-align: justify;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 107.8% !important;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 650px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: 5px;
    }
    .subtitle-card-3{
        text-align: justify;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 97.6%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 105% !important;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 755px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 900px;
        color: #ffffff;
        margin-top: -20px !important;
        width: 300px;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        margin-left: 350px;
        font-weight: 800;
        width: 500px;
        text-align: center;
        transform: translateY(30px);
        position: relative;
    }


}