@media screen and (min-width: 428px){
    .navbar {
        width: 415px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 415px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 170px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 200px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 30px;
        width: 85%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 50px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 135%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 100%;
        text-align: justify;
        color: #000000;
        margin-top: -10px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -120px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 415px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 400px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 400px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 400px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 390px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 415px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 50px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
    }


}


@media screen and (max-width: 412px){
    .navbar {
        width: 405px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 405px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 170px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 190px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 30px;
        width: 86%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 50px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 135%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 100%;
        text-align: justify;
        color: #000000;
        margin-top: -20px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -120px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 405px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 370px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 405px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 50px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
    }


}


@media screen and (max-width: 414px){
    .navbar {
        width: 405px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 405px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 170px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 190px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 30px;
        width: 86%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 50px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 135%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 100%;
        text-align: justify;
        color: #000000;
        margin-top: -20px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -120px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 405px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 390px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 350px !important;
        font-size: 30px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 370px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 405px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 50px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
    }


}



@media screen and (max-width: 393px){
    .navbar {
        width: 380px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 380px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 130px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 150px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 30px;
        width: 85%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 10px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 50px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 110%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: -5px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 80%;
        text-align: justify;
        color: #000000;
        margin-top: -10px;
        width: 230px;
        margin-left: 25px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -80px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 380px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 365px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
        font-size: 15px;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 365px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
        font-size: 15px;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 365px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
        font-size: 15px;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 353px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 340px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
        width: 340px;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 50px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
        margin-left: 50px;
    }


}



@media screen and (max-width: 375px){
    .navbar {
        width: 360px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 360px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 100px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 130px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 25px;
        width: 85%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 10px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 50px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 110%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: -5px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 80%;
        text-align: justify;
        color: #000000;
        margin-top: -10px;
        width: 230px;
        margin-left: 25px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -80px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 360px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 345px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
        font-size: 15px;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 345px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
        font-size: 15px;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 345px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
        font-size: 15px;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 335px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 340px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
        width: 340px;
        margin-left: -20px;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 40px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
        margin-left: 25px;
    }


}




@media screen and (max-width: 360px){
    .navbar {
        width: 350px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 350px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 100px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .btn-reservar{
        border: none;
        margin-left: 130px;
        /* background-color: #ffffff; */
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 25px;
        width: 85%;
        margin-bottom: 150px;
        height:  100px !important;
        padding: 100px 10px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 50px !important;
        margin-top: -100px;
        margin-bottom: 20px;
    }

    .title-content{
        font-size: 110%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: -5px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 80%;
        text-align: justify;
        color: #000000;
        margin-top: -10px;
        width: 230px;
        margin-left: 25px;
    }

    .text-content-2{
        margin-top: 15px;
        margin-left: -80px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: 100px;
        margin-left: 5px;
        width: 350px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 335px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
        font-size: 15px;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 335px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
        
    }
    .subtitle-card-2{
        text-align: justify;
        font-size: 15px;
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 335px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 260px !important;
        font-size: 19px;
        margin-top: -30px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
        font-size: 15px;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 325px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 340px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 100px;
        height: 35px;
        border-radius: 10px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 110px;
    }
    .footer-quote{
        font-weight: 500;
        width: 340px;
        margin-left: -20px;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 40px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
        margin-left: 25px;
    }


}



@media screen and (max-width: 320px){
    .navbar {
        width: 310px !important;
        padding: 12px 15px;
        display: flex;
        top: 10px;
        left: 5px;
        border-radius: 30px;
    }

    .image-fondo{
        width: 310px !important;
        height: 400px !important;
        margin-top: 10px;
        margin-left: 5px;
        border-radius: 30px 30px 25px 25px;
        object-fit: cover;
        
    }

    .btn-bar{
        margin-left: 130px;
        border: none;
        position: absolute;
        /* background-color: #ffffff; */
        padding: 5px 10px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-bar:hover{
        transform: scale(1.1);
        color: black;
        background-color: #ffffff;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
        font-size: 12px;
    }


    .btn-reservar{
        border: none;
        position: absolute;
        margin-left: 200px;
        /* background-color: #ffffff; */
        padding: 5px 10px;
        border-radius: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
        color: #d4d4d4;
    }
    .btn-reservar:hover{
        background-color: #ffffff;
        transform: scale(1.1);
        color: black;
        box-shadow: 0 4px 20px rgba(184, 184, 184, 0.87);
    }
    a{
        border: none;
        text-decoration: none;
        font-size: 12px;
    }

    .logo{
        width: 50px;
        height: 25px;
        border-radius: 5px;
        object-fit: cover;
    }


    .card-content-glass{
        /* background-color: rgba(255, 255, 255, 0.788) !important; */
        margin-top: -310px;
        margin-left: 15px;
        width: 90% !important;
        margin-bottom: 200px;
        height:  100px !important;
        padding: 90px 50px;
        text-align: center;
        border-radius: 30px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 1;
        position: relative;
    }

    .title-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px !important;
        margin-top: -90px;
        margin-bottom: 30px;
    }

    .title-content{
        font-size: 110%;
        font-weight: bold;
        width: 300px;
        text-align: center;
        color: #000000;
        margin-top: 20px;
        margin-left: 1px;
        display: inline-block !important; 
    }

    .text-content {
        font-size: 80%;
        text-align: justify;
        color: #000000;
        margin-top: -20px;
        margin-left: -20px;
    }

    .text-content-2{
        margin-top: 13px;
        margin-left: -70px;
        font-size: 90%;
        text-align: center;
        color: #000000;
        font-weight: bold;
        letter-spacing: 0px;
    }

    /* section-1 */
    .card-content-glass-section-1{
        margin-top: -60px;
        margin-left: 5px;
        width: 310px !important;
        height: 700px;
        padding: 150px 50px;
        text-align: center;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        z-index: 1;
        position: relative;
    }

    .card-1-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 295px;
        margin-top: -140px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text{
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        margin-top: -40px;
    }
    .subtitle-card{
        text-align: justify;
    }

    /* card-2 */
    .card-2-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 295px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-2{
        margin-bottom: 20px;
        text-align: justify;
        width: 230px !important;
        font-size: 20px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .subtitle-card-2{
        text-align: justify;
        margin-top: -20px;
        
    }

    /* card-3 */
    .card-3-glass-dark{
        background-color: #000000;
        color: #ffffff;
        width: 295px;
        margin-top: 10px;
        margin-left: -43px;
        border-radius: 30px;
        height: 220px;
        padding: 50px 50px;
    }
    .card-text-3{
        margin-bottom: 20px;
        text-align: justify;
        width: 220px !important;
        font-size: 20px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .subtitle-card-3{
        text-align: justify;
    }

    /* section-mapa */
    .section-mapa{
        margin-left: 10px;
        width: 95%;
        height: 400px;
        padding: 40px 40px;
        margin-top: 30px;
        background-color: #ffffff;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .mapa-title{
        margin-bottom: 20px;
        font-size: 30px;
        margin-top: -20px;
        color: #000000;
    }

    .mapa-ja{
        border-radius: 30px;
        width: 285px;
        height: 300px;
        margin-left: -30px;
        border: 1px solid rgb(0, 0, 0);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* footer */
    .footer{
        padding: 40px 40px;
        margin-top: 30px;
        margin-left: 5px;
        background-color: #000000;
        color: #ffffff;
        width: 308px;
        border-radius: 20px;
    }

    .footer-logo-img{
        width: 90px;
        height: 35px;
        border-radius: 10px;
        margin-left: -30px;
        object-fit: cover;
    }
    .footer-logo-text{
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: -30px;
        margin-left: 65px;
        width: 150px;
    }
    .footer-quote{
        font-weight: 500;
        font-size: 13px;
        margin-left: -5px;
        width: 240px;
        text-align: center;
    }


    /* redes sociales */
    .redes-sociales{
        margin-left: 50px;
        color: #ffffff;
        margin-top: 30px !important;
    }

    .redes-sociales-link{
        transition: all 0.3s ease !important;
        color: #ffffff;
    }
    .redes-sociales-link:hover{
        transform: scale(1.1) !important;
    }
    .footer-copyright{
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        transform: translateY(30px);
        position: relative;
    }


}